* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover {
    cursor: pointer;
}